<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Country Story Page</title>

</head>
<body>
    <div class="nav-bar">
        <nav>
            <h2 class="logo">Travel <span>Website</span> </h2>
            <ul>
                <li><a href="/user/home">Home</a></li>
                <li><a href="/user/country">Country</a></li>
                <li><a href="/user/home2">Stories</a></li>
                <li><a href="/user/games">Games</a></li>
                <li><a href="/user/about">About Us</a></li>
                <li><a href="/user/faq">FAQ</a></li>
                
                <button type="button" class="sign-up">Sign up</button>
                <button type="button" class="login">Login</button>
            </ul>

        </nav>
    </div>

    <h1 id="title"><%= country %></h1>
    <div id="top-img">
        <img src="/<%= country %>.jpg" alt="kontol">
    </div>
    
    <h3 id="subtitle">Share Your Travel Experience in Form of Story </h3>
    
    <div class="create-story-button">
        <form action="go-to-create" method="get">
            <button type="submit" name ="button" value="<%= country %>">Create Story</button>
        </form>
    </div>
    

    <% for (let i = 0; i < data.length; i++) { %>
        <li><%= data[i].title %></li>
        <li><%= data[i].body %></li>
        <li><%= data[i].timestamp %></li>
    <% } %>
    
</body>
</html>